:root {
    /* Colors */
    --lightblue: rgb(109, 197, 197);
    --focus-grey: rgb(222, 234, 241);
    --item-grey: #e4e4e4;
    --header-black: #222222;
    --white: white;


    /* Button */
    --button-height: 40px;
    --button-width: 130px;
    --button-font-size: 13px;
    /* Border */
    --body-border: 0.5px solid black;

    /* Shadows */
    --item-box-shadow: 1px 0.5px 10px 0.5px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 1278px) {

    #copyright-text {
        position: static !important;
        padding: 50px 0px 10px 0px;
        bottom: 0px;
    }      
}


@media screen and (max-width: 730px) {

    main {
        grid-template-columns: 5% 90% 5% !important;
    }

    main,
    footer {
        font-size: 13px;
    }

    footer {
        font-size: 20px !important;
    }

    #nav-bar > h2 {
        color: white;
        line-height: inherit;
        white-space: nowrap ;
        font-size: 35px !important;
    }

    #nav-list li {
        align-self: flex-end;
    }

    #nav-list li:not(:last-child) {
        display: none !important;
    }
   
    #nav-list li:nth-child(4),
    #nav-list li:nth-child(5) {
        display: inline !important;
        border: none;
    }

    #dropdown-navbar {
        position: absolute;
        bottom: 0;
        z-index: -1;
        display: flex !important;
        flex-direction:column;
        width: 100%;
        background-color: #383838;
        opacity: 0.95;
    }

    #features {
        margin-top: 60px;
    }

    #price-container > * {
        width: 100%;

    }


}


/* General settings */

body, html {
    margin: 0;
}


body {
    overflow-x: hidden;
    background-color: rgb(244, 241, 241);
    font-family: 'Source Sans Pro', sans-serif;
}


main {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    
}

section {
    margin:auto;
    scroll-margin-top: 79px
}



textarea:focus, 
input:focus{
    outline: none;
    background-color: var(--focus-grey);
}

/* Header + navbar */

header {
    height: 79px;
    position: sticky;
    z-index: 1;
    width: 100%;
    top:0;
    margin: 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

#logo-div{  
    position: absolute;
    z-index: 1;
    width: 100px; 
    height: 150px;
    top:-30px;
}

#header-logo {
    position: relative;
    background-color:#5a5959;
    margin-left: 10px;
    height: 100%;
    width: 100%;
}

#nav-bar {
    position: absolute;
    width: 100%;
    height: 79px;
    background-color: var(--header-black);
    display: flex;
    
    
}

#nav-bar > h2 {
    font-size: 300%;
    font-family: 'Qwitcher Grypen', cursive;
    color: white;
    margin: auto 0 5px 120px;
}

#nav-list {
    display: flex;
    list-style: none;
    margin: auto 20px 0px auto;
    padding: 0 0 10px 0;
    font-family: 'Caveat', cursive;
    font-size: 23px;
}

#nav-list li {
    display: inline;
    padding: 0 10px 0 10px;
    border-left: 1px gray solid;
}

#nav-list > li:nth-child(4){
    position: relative;
    border: none;
    top: 5px;
} 

#nav-list li:last-child {
    display: none;
}

.nav-link {
    color: azure;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--lightblue);
}

#basket-badge {
    display: none;
    position: absolute;
    width: 22px;
    height: 22px;
    top: -25px;
    left: 30px;
    box-sizing: border-box;
    border: rgb(0, 146, 169) solid 13px;
    border-radius: 50%;
}

#basket-badge > span {
    position: relative;
    left: -5px;
    bottom: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:large;
}

    /* Navbar Animations */

    @keyframes slidenavdown {
        /* Slides Navbar out when window is shrinked */
        0% {
            transform: translateY(0px);
        }

        100% {
            transform: translateY(121px);
        }
    }

    @keyframes slidenavup {
        /* Slides Navbar back when window is shrinked */
        0% {
            transform: translateY(121px);
        }

        100% {
            transform: translateY(0px);
        }
    }


    .slidenavdown {
        animation-name: slidenavdown;
        animation-fill-mode: forwards;
        animation-duration: 0.5s;
    }

    .slidenavup {
        animation-name: slidenavup;
        animation-fill-mode: forwards;
        animation-duration: 0.5s;
    }
    




/* Dropdown menu + button */

#hamburger-menu-icon {
    display: none;
}

#hamburger-menu-icon:checked + .menu-lines > .line.first {
    transform: translateY(10px) rotate(-40deg);
    width: 35px;
}

#hamburger-menu-icon:checked + .menu-lines > .line.second {
    opacity: 0;
}

#hamburger-menu-icon:checked + .menu-lines > .line.third {
    transform: translateY(-13.3px) rotate(40deg);
    width: 35px;
}

.menu-lines {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    cursor: pointer;
}

.line {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: white;
    transform-origin: center;   
    transition: 0.5s;
}

.first {
    top: 0px;
}

.second {
    top: 12px;
}

.third {
    top: 24px;
}

#dropdown-navbar {
    display: none;
}

#dropdown-nav-list {
    margin: 5px 0px 5px 100px;
    list-style: none;
    font-family: 'Caveat', cursive;
    font-size: 23px;
}

#dropdown-nav-list > li {
    display: block;
    padding: 0 0 8px 0;
}

/* Section - Features */

.features-item {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto 1fr;
    margin-bottom: 20px;
    background-color: var(--item-grey);
    box-shadow: var(--item-box-shadow);
    border-radius: 0px;
}

.features-item > 
i,
span {
    grid-column: 1/2;
    grid-row: 1/3;
    margin: auto;
}

.features-item > h4 {
    margin: 0%;
    grid-column: 2/3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.features-item > p {
    margin: 0 10px 10px 0px;
    grid-column: 2;
    grid-row: 2;
    
}

/* Section - How it's made */

#video-div {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

#video-div > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Section - Pricing */

#price-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 30%;
    gap: 20px;
    
}

.price-box {
    background-color: var(--item-grey);
    box-shadow: var(--item-box-shadow);
    text-align: center;
    width: 267px;
    position: relative;
    transition: transform 300ms;
    
}

.price-box:hover {
    transform: translateY(-10px);
}

.price-box > h4 {
    padding-bottom: 10px;
}


.price-box > p {
    margin: 10px 60px;
}

.price-box > input {
    background-color: transparent;
    box-shadow: 5px 5px 0px 0px var(--lightblue);
    opacity: 0.8;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 0px;
    color: #000;
}                   

.price-box > input:active,
.expand-button:active {
    box-shadow: 0 0px var(--lightblue);
    transform: translateY(2px);
}

.price-item {
    background-color:var(--lightblue);
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.price-item > h4 {
    margin: 0;
}

.buy-button {
    width: 50%;
    height: var(--button-height);
    border: 1px solid rgb(0, 42, 84);
    background-color: transparent;
    font-size: var(--button-font-size);
}

.expand-button {
    display: flex;
    margin: 20px auto;
    width: 130px;
    height: var(--button-height);
    border: 1px solid rgb(0, 42, 84);
    background-color: transparent;
    box-shadow: 5px 5px 0px 0px var(--lightblue);
    font-size: var(--button-font-size);
    color: #666666; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.expand-button > span {
    margin: 0 0 8px 5px;
    color: var(--header-black);
    position: relative;
    bottom: -5px;
}

/* Custom orderform */

#form {
    margin-bottom: 20px;
}

#custom-orders {
    width: 100%;
    border: var(--body-border);
    font-size: 14px;
    resize: vertical;
}

#accept-terms {
    float: left;
    
    
}
#accept-privacy-terms {
    clear: left;
    float: left;
}

#submit-mail {
    clear: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#e-mail {
    box-sizing: border-box;
    width: 260px;
    height: var(--button-height);
    padding: 0px;
    margin: 10px 0px;
    border: var(--body-border);
    font-size: var(--button-font-size);
    text-align: center;

}

#submit {
    box-sizing: border-box;
    width: var(--button-width);
    height: var(--button-height);
    margin: 10px 0px;
    font-size: var(--button-font-size);
    font-weight: bold;
    background-color: var(--lightblue);
    border: var(--body-border);
    border-left: none;
    cursor: pointer;
}

/* Footer */

footer {
    background-color: rgb(12, 12, 12);
    color: rgb(238, 238, 238);
    font-family: 'Caveat', cursive;
    font-size: 23px;
}

footer img {
    filter: blur(5px);
}

#footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

#footer-grid > div {
    margin: 20px 20px 0px 20px;
}

#footer-grid > div > h4 {
    border-left: 2px solid gray;
    padding-left: 10px;
    text-transform: uppercase;
}

#footer-tribute > p {
    text-align: justify;
}

#footer-linklist {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0px; 
}

#footer-linklist > hr:last-child {
    margin-bottom: 0px;
}

#social-media-icons {
    margin: 50px 0px 20px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#social-media-icons > i:hover,
#footer-linklist > li:hover {
    cursor: pointer;
    color: var(--lightblue)
}

#digi-imgs {
    margin: 40px auto 0px auto;
    width: 375px;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}


.footer-img {
    object-fit: cover;
    width: 80px;
    height: 80px;
}

.footer-img:after {
    content:"";
    /* Set the element as full-size */
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    /* Set bg and hide the element + animation */
    background-color:#000;
    opacity:0;
    transition: all 0.5s ease 0s;
  }

  .footer-img:hover:after {
    /* Show the overlay on hover */
    opacity:0.5;
  } 


#copyright-text {
    display: block;
    position: relative;
    text-align: center;
    bottom: 30px;
}   

